@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto.ttf');

}

@font-face {
  font-family: 'Shrikhand';
  src: url('fonts/Shrikhand.ttf');

}

body {
 
  font-family: Roboto;
  margin: 0;
}
.logo-section{
  background-color: white;
}

.logo-container{
  max-width: 450px;
  box-sizing: border-box;
  padding: 0 15px;
	margin: auto;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 20px;
  &__img {
    width: 70%;}
  }

.location-section {
  background: rgb(206,206,206);
  background: linear-gradient(180deg, rgba(206,206,206,1) 4%, rgba(234,234,234,1) 9%);
  }

.location {
  max-width: 450px;
  box-sizing: border-box;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  font-size: 20px;
  &__text {
    margin-left: 5px;
  }
}
.Booking-section{ 
  background-color: #f6f6f6;
}
.booking-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 450px;
  box-sizing: border-box;
  margin: auto;
  padding: 0px 15px;
  
}

.booking-container__title {
  font-size: 28px;
  font-family: Roboto;
}
.booking-container__text {
  font-size: 20px;
  text-align: center;
  margin: 25px;
}
$btn-color:linear-gradient(45deg, rgba(241,125,219,1) 0%, rgba(156,89,220,1) 100%, rgba(239,116,218,1) 100%);
.btn {
  padding: 20px 30px 20px 30px;
  margin: 20px 0 50px 0;
  color: #fff;
  font-size: 20px;
  background: $btn-color;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition-duration: 0.1s;

  box-shadow: 5px 5px 5px  #cacaca;
    &:hover{
      background:linear-gradient(45deg, rgba(241,125,219,1) 80%, rgba(156,89,220,1) 100%, rgba(239,116,218,1) 100%);
      transform: scale(1.01);
      box-shadow: 10px 10px 10px #b1b0b0;
    }
}

.How-section{
  background-color: white;
}
.how-container{
  max-width: 450px;
  margin: auto;
  padding: 0px 15px;
}
.how-Steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;

}
.how-title {
  text-align: left;
  font-size: 28px;
  font-family: Roboto;
  margin-left: 10px;
}
.how-order {
  display: flex;
  align-items: center;
  width: 85%;
  height: 60px;
  padding: 10px;
  margin-bottom: 25px;
  margin-left: 15px;
  background-color: #f2f2f2;
  border-radius: 25px;
  box-shadow: 10px 10px 10px #dbd9d9;
  &__number {
    line-height: 20px;
    text-align: center;
    margin-left: -28px;
    padding: 8px;
    background-color: #9356dc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #fff;
  }
  &__icon {
    padding-left: 25px;
    font-size: 16px;
  }

  &__text {
    margin-left: 10px;
    font-size: 20px;
    text-transform: bold;
  }
}
a {
  text-decoration:none ;  
  color: black;
}
.stretched-link:after {
  content: "";
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
}


label{
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.resturants-section {
  background-color: #f6f6f6;
}
.resturants-container {
  max-width: 450px;
  background-color: #f6f6f6;
  padding: 15px;
  box-sizing: border-box;
  margin: auto;
  
}
.restaurants-header{
  font-family: Roboto;
  font-size: 28px;
}

.footer-container {
  background-color: #353535;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 5px 5px 5px 5px #f2f2f2;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
  
  &__img {
    border: 0px solid #fff;
    height: 175px;
    object-fit: cover;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
  }
  &__new {
    color: #139274;
    background-color: #99e2d0;
    padding: 3px 20px;
    border: solid #99e2d0;
    width: 30px;
    position: absolute;
    right: 25px;
    top: 25px;
    margin: -15px;
  }

  &__body {
    display: flex;
    padding: 10px 20px;
    &__title {
      font-size: 20px;
      font-weight: bold;
      font-family: Roboto;
    }
    &__location {
      margin: 5px 0;
    }
  }
  
}

.favourite {
  flex-grow: 1;
  text-align: right;
  font-size: 30px;
  color: grey;
      
}
input {
	display: none;
}
.solid {
  display: none;
	background: linear-gradient(198deg, rgba(129,79,127,1) 9%, rgba(160,91,220,1) 30%);
	-webkit-background-clip: text;
  color: transparent;
  padding: 1px;
  }
  
.empty{
  padding: 1px;
   
}
.favourite {
input:checked + label  {

.solid{	display: inline-block;}
.empty{	display: none;}
}
.solid{
  display: none;
}
}

footer{
  background-color: #353535;
  padding: 15px;
}
.footer-container {
  max-width: 450px;
  box-sizing: border-box;
  margin: auto;
  padding: 0px 15px;
  font-size: 18px;
}
.footer__item {
  margin-bottom: 10px;
}
.footer__logo {
  width: 35%;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
  }